.personalSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 54px 10px;
}

.userinfo {
    display: flex;
    background: palegreen;
    height: 80px;
    align-items: center;
}

.profileLine {
    margin-top: 20px;
    height: 1px;
    width: 95%;
    background: rgb(196, 196, 196);
    margin-bottom: 20px;
}