.header {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    background-color: #00113a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

nav {
    width: 100%;
}

nav ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

nav ul li {
    height: 25px;
    width: 25px;
    font-size: 25px;
}