._loginRegister {
    min-width: 360px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    height: 120px;
    width: auto;
    margin-bottom: 20px;
}

.form-control {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    min-width: 210px;
    font-size: 0.9em;
    padding: 0.5em 0.4em;
    margin-bottom: 1.5em;
    border-radius: 3px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

input:focus {
    outline: none;
    border: #b3dcd4 2px solid;
}

.login-button {
    margin-top: 10px;
    min-width: 210px;
    background: #00113a;
    border: none;
    color: white;
    padding: 0.5em 0.4em;
    border-radius: 3px;
    font-size: 1em;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 50px;
    border-top: #00113a solid 1px;
}

._signup {
    font-size: 14px;
}

.register-button {
    font-size: 14px;
    margin-left: 6px;
    border: none;
    color: #00113a;
    font-weight: 600;
    background: none;
}

/**### MEDIA QUERIES ####**/

/* screens 1024px and higher */
@media only screen and (min-width: 1024px) {
    .landingwrapper {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('../assets/landingimage.webp');
        background-repeat: none;
        background-size: cover;
    }

    ._loginRegister {
        background: #fff;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        width: 400px;
        height: 700px;
        border-radius: 20px;
    }

    img {
        height: 150px;
        width: auto;
        margin-bottom: 30px;
    }

    input {
        width: 250px;
        margin-bottom: 2em;
    }
}

/* screens 1281px and higher */
@media only screen and (min-width:1281px){

    ._loginRegister {
        background: #fff;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        width: 600px;
        height: 800px;
    }

    img {
        height: 150px;
        width: auto;
        margin-bottom: 30px;
    }
}
