.avatarPictureContainer {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    overflow: hidden;
}

.avatarPicture {
    width: 100%;
    height: auto;
    object-fit: cover;
}