.likeContainer {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.4em 0.5em;
    border-bottom: 1px gray solid;
}

.buttonPlacement {
    margin-right: 8px;
    background: none;
    border: none;
}

.likeCommentIcon {
    font-size: 27px;
}

.postDesc {
    font-size: 14px;
    width: 76vw;
    height: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
}