.feedContainer {
    width: 100%;
}

.commentContainer {
    width: 100%;
    padding: 0.5em;
    border-bottom: 1px solid rgb(196, 196, 196);
}

.commentContent {
    display: flex;
    max-height: 85px;
        text-overflow: ellipsis;
}

.userName {
    font-weight: 600;
    margin-right: 8px;
}

.fuckingP{
    font-size: 14px;
    width: 344px;
    height: 85px;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}