.imagesGrid {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 2fr));
    gap: 10px;
    overflow: hidden;
}

.imageContent {
    background: blue;;
    height: 150px;
    overflow: hidden;;
    background-size: cover;
    background-repeat: no-repeat;
}